.link-center{
    font-size: 20px;
}

.neon-text {
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
    text-shadow:
        0 0 5px #a855f7,
        0 0 10px #a855f7,
        0 0 20px #a855f7,
        0 0 40px #a855f7,
        0 0 80px #a855f7;
}




.link {

    /*Si algún hijo tiene position: absolute, ubícalo tomando a este .link como referencia, no a toda la página.*/
    position: relative;
    color: rgb(202, 202, 202);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* Línea debajo del texto */
.line {
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #a855f7;
    /* morado */
    box-shadow: 0 0 6px #a855f7;
    /* brillo */
    transition: width 0.3s ease;
}

/* Hover: la línea crece */
.link:hover .line {
    width: 100%;
}

/* (opcional) cambiar color del texto en hover */
.link:hover {
    color: #c084fc;
}